.bookingService-wrapper {
  padding: 0 40px 200px 40px;
}

.bookingService-container {
    width: 100%;
    color: var(--text);  
    box-sizing: border-box; 
}

.bookingService-section {
    height: 100%; 
    display: flex;
    flex-direction: column; 
    width: 80%; 
}

.selectAservice-tag {
    font-size: var(--font-size-h4);
    margin-bottom: 60px;
}

.bookingService-header {
    font-size: var(--font-size-h3);
    margin: 60px 0 10px 0;
}

.bookingService-tag {
    margin-bottom: 30px;
}

.description-and-button-wrapper {
    margin-top: auto; 
    display: flex; 
    align-items: flex-end; 
    justify-content: space-between; 
    width: 100%; 
}

.bookingService-discription {  
    margin-bottom: 0;
    width: 50%; 
}

.bookingService-list {
  margin-bottom: 0; 
  flex-grow: 1; 
  list-style-type: none; 
  padding-left: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-h4);
  font-weight: 300px;
}

/* Dark Room Booking Section */

.darkroomBooking-section{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  gap:20px;
  position: relative;
  padding: 0 40px; 
}

.darkroomBooking-header {
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: var(--font-size-h3);
}

.darkroomBooking-discription {
  grid-column: 1/4;
  grid-row: 2/3;
  align-items: start;
}

.darkroomBooking-price {
  grid-column: 1/2; 
  grid-row: 3/4;
}

.darkroomBooking-accordion-section {
  grid-column: 1/5;
  grid-row: 5/6;
}

.mentor-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 40px;
}

.mentor-discription {
width: 50%;
}

.requestAMentor {
  padding-top: 20px;
}

.booking-button {
  font-size: var(--font-size-h4);
  font-weight: 300;
  padding: 40px 0 40px 0;
}

.booking-button:hover{
  color: grey;
}

/*Darkroom Booking Section Form*/

.booking-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

.calendar-section, .info-section {
    flex: 1; 
    padding: 0 40px; 
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    font-size: 1.2em;
    color: var(--text);
    font-weight: 300;
}
.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
    transition: color 0.2s;
}
.nav-button:hover {
    color: grey;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}
.day-name {
    color: var(--text);
    font-size: 0.85em;
    padding: 50px 0;
    font-weight: 300;
}
.calendar-days {
    display: contents;
}
.day {
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    font-size: 0.9em;
    font-weight: 300;
}
.day:hover:not(.day-prev):not(.disabled-day) {
    background-color: var(--hover);
}
.day-prev {
    color: var(--hover);
    cursor: not-allowed;
} 
.selected-day {
    border-bottom: 1px solid var(--text) !important; 
    color: var(--text);
}

.time-title {
    font-size: 1.2em;
    color: var(--text);
    margin: 30px 0 15px;
    font-weight: 300;
    padding-top:70px;
}
.time-slots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.time-slot {
    background-color: (var(--bg));
    color: var(--text);
    border: 1px solid var(--text);
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    font-size: 0.9em;
}
.time-slot:hover:not(.disabled):not(.selected-slot) {
    background-color: var(--hover);
}
.time-slot.disabled {
    color: var(--hover);
    border-color: #444444;
    cursor: not-allowed;
    text-decoration: line-through;
}
.time-slot.selected-slot {
    background-color: #444444; 
    color: var(--text);
    border-color: transparent;
}

.summary-box {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1.1em;
    font-weight: 300;
    color: var(--text);
}
.summary-box span {
    font-weight: 300;
    color: var(--text);
}

.info-section { 
  padding-top: 130px;
}

.form-group {
    margin-bottom: 40px;
}
label {
    display: block;
    margin-bottom: 40px;
    color: var(--text);
    font-size: 1.2em;
    font-weight: 300;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px;
    background-color: transparent !important; 
    border: none;
    border-bottom: 1px solid var(--text);
    color: var(--text);
    box-sizing: border-box; 
    transition: border-color 0.2s;
}
input:focus,
select:focus {
    border-color: grey;
    outline: none;
}

.complete-booking-button { 
    font-size: var(--font-size-h4);
    font-weight: 300;
    text-decoration: none;
    color: var(--text); 
    padding: 40px;
    width: fit-content;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;

}

.complete-booking-button:hover {
    color: grey; 
}

/* Booking Confermation */

/* Check CSS for extra booking-container tag */

.receipt-box {
  width: 80%;
  background-color: var(--bg); 
  color: var(--text);           
  padding: 20px;
}

#receiptPlaceholder {
  display: flex;
  flex-direction: row;        
  justify-content: space-between; 
  align-items: flex-start;    
  width: 100%;                
  gap: 30px;                  
}

.receipt-section {
  flex: 1;
}

.receipt-section h3 {
    color: var(--text);
}

.back-link {
  font-size: var(--font-size-h4);
  font-weight: 300;
}

.back-link:hover{
  color: grey;
}

.next-steps {
  font-size: var(--font-size-h4);
  font-weight: 300;
  padding: 60px 0 40px 0;
}

.next-steps :hover{
  color: gray;
}



