.current-exhibition-wrapper{
padding: 0 40px 200px 40px;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, auto);
}

.current-exhibition-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  position: relative;
  background: var(--bg);
  grid-row: inherit;
  grid-row: 1/2;
  grid-column: 1/6;
}

.current-exibition-photo-grid {
  grid-column: 1/6;
  grid-row:2/3; 
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-auto-rows: 1fr; 
  gap: 200px; 
  position: relative; 
  height: auto;
  padding-top: 200px; 
}

.current-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.current-photo1 {
  grid-column: 1 / 3; 
  grid-row: 1 / 3; 
  z-index: 2; 
}
.current-photo2 {
  grid-column: 3 / 6;
  grid-row: 2 / 5;
  z-index: 3; 
}
.current-photo3 {
  grid-column: 1 / 3;
  grid-row: 5 / 7; 
  z-index: 1;
}

.current-photo4 {
  grid-column: 3 / 5; 
  grid-row: 6 / 8; 
  z-index: 1;
}
.current-photo5 {
  grid-column: 1 / 4;
  grid-row: 8 / 11; 
  z-index: 1;
}

.artist-section {
  grid-column: 2/5;
  grid-row: 3/4;
  padding-top: 100px;
}

.artist-tag {
    text-align: right;
    font-size: var(--font-size-h3); 
    margin-bottom: 20px;
    justify-self: end;
}

.artist-discription {
    color: var(--text); 
    font-weight: 300;
    text-align: right;
}

.members-gallery-section {
  grid-row: 4/5;
  grid-column: 1/4;
  padding-top: 200px;
  padding-bottom: 150px;
}

.members-gallery-tag {
  font-size: var(--font-size-h3);
  margin-bottom: 20px;
  justify-self: start;
  text-align: left;
}

.members-gallery-discription {
  font-size: var(--text);
  justify-self: start;
  text-align: left;
}

.carousel-container {
    overflow-x: scroll; 
    scroll-behavior: smooth;
    height: 600px;
    -ms-overflow-style: none; 
    grid-row: 5/6;
    grid-column: 1/6;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-track {
    display: flex;
    align-items: center; 
    width: max-content; 
    padding: 20px 40px; 
}

.featured-photo-item {
    flex-shrink: 0; 
    margin-right: 100px; 
    position: relative;
}

.featured-photo {
    display: block;
    height: auto; 
    object-fit: cover;
}

.featured-photo1{
 height: 400px;
 width: 400px;
}

.featured-photo2{
 height: 560px;
 width: 424px;
}

.featured-photo3{
 height: 400px;
 width: 400px; 
}

.featured-photo4{
  height: 490px;
  width: 371;
}

.featured-photo5{
  height: 560px;
 width: 424px;
}

.featured-photo6{
  height: 400px;
  width: 400px;
}

.featured-photo7{
  height: 450px;
  width: 500px;
}