.decoration-image-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.decoration-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-section{
  margin: 2rem 0;
  position: relative;
  padding: 0 40px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  position: relative;
  background: var(--bg);
  padding: 40px;
}

.bio-tag {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: var(--font-size-h4);
  z-index: 2;
  color: var(--text);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 6.5rem;
  left: 1rem;
  margin-top: 0;
}

.bio-statement-line1 {
  grid-column: 2 / 6;
  grid-row: 1 / 3;
  font-size: var(--font-size-h3);
  font-weight: 300;
}

.bio-statement-line2 {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  font-size: var(--font-size-h3);
  font-weight: 300;
  margin-top: 50px;
}

.bio-text {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  font-size: var(--font-size-body);
  color: var(--text);
  align-self: end;
  font-weight: 300;
}

.read-more-link {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  align-self: end;
  justify-self: end;
  font-weight: 300;
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s;
}
.read-more-link:hover {
  color: grey;
}

.service-section-wrapper {
  padding: 40px;
  padding-top: 300px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  position: relative;
  background: var(--bg);
}

.service-tag {
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: var(--font-size-h4);
  text-transform: uppercase;
  margin: 0;
}

.service-description {
  grid-column: 2 / 4;
  font-weight: 300;
  color: var(--text);
  font-size: var(--font-size-body);
}

.book-now-button {
  grid-column: 4 / 5;
  align-self: end;
  justify-self: end;
  font-weight: 300;
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s;
}

.book-now-button:hover{
  color: grey;
}

.service-accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 300px;
  background-color: var(--bg);
}

.accordion {
  width: 100%;
  max-width: 800px;
  background: var(--bg);
  overflow: hidden;
  border-bottom: 1px solid var(--text); 
}

.accordion-item {
  border-top: 1px solid var(--text);
}

.accordion-header, h3 {
  padding: 10px;
  cursor: pointer;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s ease;
  font-size: var(--font-size-h4);
  font-weight: 300;
}

.accordion-header:hover {
  color: grey;
}

.accordion-header span {
  font-size: var(--font-size-h4);
  opacity: 0.6;
  transition: transform 0.2s ease;
}

.accordion-header.active span {
  transform: rotate(90deg);
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
      }

.accordion-inner {
  padding: 10px;
}

.accordion-content.open {
  height: auto;
}

.featured-photos-section-wrapper {
  padding: 40px;
  padding-top: 300px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  position: relative;
  background: var(--bg);
}

.featured-photos-tag {
  grid-column: 1 / 4;
  grid-row: 1/2;
  align-self: center;
  justify-self: start;
  font-weight: 300;
  font-size: var(--font-size-h3);
  margin: 0;
  text-align: left;
}

.featured-photos-description {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  font-weight: 300;
  color: var(--text);
  font-size: var(--font-size-body);
  align-self: center;
  justify-self: start;
  text-align: left;
  padding-right: 0px;
}

.featured-photos-carousel-container{
  padding-top: 40px;
}
.pin-spacer {
    height: 100vh; 
    position: relative;
}

.carousel-viewport {
    overflow: hidden;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
}

.carousel-wrapper {
    width: fit-content;
    height: 100vh; 
    display: flex; 
    align-items: center;
    gap: 20px; 
    padding-left: 40px;
  
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.carousel-item {
    aspect-ratio: 1/1;
    width: 80vh; 
    position: relative;
    box-sizing: border-box;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    image-rendering: -webkit-optimize-contrast; 
    will-change: transform;
}