.darkroom-description {
  grid-column: 1/3;
  grid-row: 2/3;
  font-weight: 300;
  align-self: start;
  justify-self: start;
}

.includes-tag {
  grid-column : 1/2;
  grid-row: 3/4;
  align-self: start;
  justify-self: start;
}

.otherServices-section-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  position: relative;
  background: var(--bg);
  padding: 40px;
}

.otherServices-tag {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: var(--font-size-h3);
}

.otherServices-description {
  grid-column: 1/3;
  grid-row: 2/3;
  font-weight: 300;
  align-self: start;
  justify-self: start;
}

.otherSection-accordion-section {
  grid-column: 1 / 4; 
  grid-row: 4 / 5;
  align-self: start;
  width: 100%; 
}

.book-now-button-otherServices-wrapper {
  grid-column: 4 / 5; 
  grid-row: 4 / 5;
  align-self: end;
  justify-self: end; 
}

.requestAMentor-wrapper {
 display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap:0;
  position: relative;
  background: var(--bg);
  padding: 200px 40px 200px 40px; 
}

.requestAMentor-tag {
  font-size: var(--font-size-h3);
  grid-column: 1/4;
  grid-row: 1/2;
  align-self: end;
  justify-self: end;
  text-align: right; 
}

.requestAMentor-Discription {
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
  text-align: right;
}

.applyForMentor-button {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
  color: var(--text);
}

.applyForMentor-button:hover{
  color:grey
}

.featured-photos-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin-top: 300px;

}

.featured-photo-1 {
  width: 800px;
  height: 600px;
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end;
  overflow: hidden;
  object-fit: cover;
}

.featured-photo-2 {
  width: 300px;
  height: 300px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: start;
  overflow: hidden;
  padding-top: -200px;
  object-fit: cover;
}

.featured-photo-3 {
  width: 600px;
  height: 500px;
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: end;
  overflow: hidden;
  object-fit: cover;
}