body {
  margin: 0 ;
  padding-top: 5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  background-color: #181818;
  color: white ;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

a {
  color: white ;
  text-decoration: unset;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #181818;
  min-height: fit-content;
  padding: 0.25rem 4rem;

}

nav h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}

nav ul{
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 0.5rem;
}

.hero-section {
  background-color: #181818;
  min-height: calc(100vh - 3rem);
  display: flex;
  justify-content: left;
  align-items: center;    
  padding: 0 40px;
  margin: 0;
}

.hero-text {
  color: #FFFFFF;
  font-size: 16vw;       
  line-height: 1.25; 
  font-weight: 500; 
}

.line-two-wrapper {
  display: inline-flex;  
  align-items: center;   
  gap: 1vw;            
}

.box {
  width: 13vw;
  height: 13vw;
  background-color: #FFFFFF;
  display: block;
  position: fixed;
  right: 6vw;
  bottom: 2vh; 
  z-index: 100;
}
.decoration-video-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.decoration-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-section {
  margin: 2rem 0;
  position: relative;
  padding: 0 40px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  position: relative;
  background: #181818;
  padding: 40px;
}

.bio-tag {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: 36px;
  z-index: 2;
  color: #fff;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 6.5rem;
  left: 1rem;
  margin-top: 0;
}

.bio-statement-line1 {
  grid-column: 2 / 6;
  grid-row: 1 / 3;
  font-size: 96px;
  font-weight: 300;
}

.bio-statement-line2 {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  font-size: 96px;
  font-weight: 300;
  margin-top: 50px;
}

.bio-text {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  font-size: 1rem;
  color: white;
  align-self: end;
  font-weight: 300;
}

.read-more-link {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  align-self: end;
  justify-self: end;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}
.read-more-link:hover {
  color: grey;
}

.service-section-wrapper {
  padding: 40px;
  padding-top: 300px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  position: relative;
  background: #181818;
}

.service-tag {
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

.service-description {
  grid-column: 2 / 4;
  font-weight: 300;
  color: white;
  font-size: 1rem;
}

.book-now-button {
  grid-column: 4 / 5;
  align-self: end;
  justify-self: end;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.service-accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 300px;
  background-color: #181818;
}

.accordion {
  width: 100%;
  max-width: 800px;
  background: #181818;
  overflow: hidden;
}

.accordion-item {
  border-top: 1px solid #eee;

}

.accordion-header, h3 {
  padding: 10px;
  cursor: pointer;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s ease;
  font-size: 36px;
  font-weight: 300;
}

.accordion-header:hover {
  color: grey;
}

.accordion-header span {
  font-size: 36px;
  opacity: 0.6;
  transition: transform 0.2s ease;
}

.accordion-header.active span {
  transform: rotate(90deg);
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
      }

.accordion-inner {
  padding: 10px;
}

.accordion-content.open {
  height: auto;
}

.decoration-image-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.featured-photos-section-wrapper {
  padding: 40px;
  padding-top: 300px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  position: relative;
  background: #181818;
}

.featured-photos-tag {
  grid-column: 1 / 4;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: 96px;
  margin: 0;
  text-align: right;
}

.featured-photos-description {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-weight: 300;
  color: white;
  font-size: 1rem;
  align-self: center;
  text-align: right;
  padding-right: 70px;
}

.view-gallery-button {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: end;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.view-gallery-button:hover {
  color: grey;
}

.featured-photos-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin-top: 300px;

}

.featured-photo-1 {
  width: 800px;
  height: 600px;
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end;
  overflow: hidden;
}

.featured-photo-2 {
  width: 300px;
  height: 300px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: start;
  overflow: hidden;
  padding-top: -200px;
}

.featured-photo-3 {
  width: 500px;
  height: 300px;
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  align-self: start;
  justify-self: start;
  overflow: hidden;
}

.featured-photo-4 {
  width: 500px;
  height: 500px;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  align-self: start;
  justify-self: start;
  overflow: hidden;
  padding-left: 40px;
  padding-top: 100px;
}

.featured-photo-5 {
  width: 300px;
  height: 300px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: end;
  align-self: end;
  overflow: hidden;
}

.calls-for-art-wrapper {
  padding: 40px;
  padding-top: 200px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  position: relative;
  background: #181818;
}

.calls-for-art-tag {
  grid-column: 1 / 4;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
  font-weight: 300;
  font-size: 96px;
  margin: 0;
  text-align: right;
}

.calls-for-art-description {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-weight: 300;
  color: white;
  font-size: 1rem;
  align-self: center;
  text-align: right;
  padding-right: 70px;
}

.call-for-art-button {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: end;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.call-for-art-button:hover {
  color: grey;
}


.footer {
    background-color: #181818;
    color: #FFFFFF;
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 300px;
}

.footer-top-grid {
    background-color: #181818;
    color: #FFFFFF;
    padding: 40px;
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.footer-tag {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    grid-column: 1 / 2;
    grid-row: 1/2;
    align-self: start;
    justify-self: start;
}

.footer-contact,
.social-media-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.5rem; 
    grid-row: 2/3;
}

.footer-contact {
    grid-column: 1/ 3;
}

.social-media-links {
    grid-column: 4 / 5;
    align-self: end;
    justify-self: end;
    text-align: right;
}

.hero-section-footer { 
  grid-row: 2 / 3;
  background-color: #181818;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;    
  padding: 0 40px;
  overflow: hidden;
}
